{% extends 'layout.html.twig' %}


{% block title %}Contactez-nous{% endblock %}
{% block CSS %}<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block content %}

<div class="jumbotron">
    <br><br><br><br>
  <h3 class="display-8 text-center">Contactez-nous </h3><br><br><br>
  <p class="lead">Vous trouverez ici quelques questions réponses. En espérant que vous trouviez réponses à vos questions. </p>
  <hr class="my-4">
  <h5>J'ai publié une question, quand va-t-elle être visible par les utilisateurs?</h5>
  <h6>Réponse</h6>
  <hr class="my-4">
  <hr class="my-4">
  <h5>Question</h5>
  <h6>Réponse</h6>
  <hr class="my-4">
  <p>Dans le cas où nous n'avez pas pu répondre à votre question, n'hésitez pas à nous contacter. Nous ferons au mieux et dans les meilleurs délais pour vous répondre.</p>
  <a class="btn btn-primary btn-lg" href="mailto:benjamin.tourneur7@gmail.com" role="button">Nous contacter</a>
</div>

{% endblock %}