{% extends 'layout.html.twig' %}

{% block content %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>404 - Cette page n'existe pas</h2>
            </div>
            <a href="/">Revenir à l'accueil</a>
        </div>
    </div>
{% endblock %}