{% extends 'layout.html.twig' %}
{% block title %}Accueil{% endblock %}
 {% block content %}
     <!-- THEME SECTION  -->
     <section class="glo-theme">
         <div class="themetitle-ctn">
             <span class="themetitle" > <h3>Principaux thèmes !</h3> </span>
         </div>
         <article class="theme-article-ctn">
             <ul class="element-ul">
                 <li class="element">
                     <a href="/theme/show/3">
                         <figure class=" figure-blc ">
                             <img class="visuel zoom lazy loaded" src="../assets/images/tools.jpg" alt="image outil bricolage  "  data-cerberus="IMG_produitsADecouvrir">
                             <div class="container-desc ">
                                 <p class="desc ellipsis">
                                        <span class="name">
                                           <h6> Bricolage </h6>
                                        </span>
                                 </p>
                             </div>
                         </figure>

                     </a>
                 </li>
                 <a href="/theme/show/1">
                     <figure class=" figure-blc ">
                         <img class="visuel zoom lazy loaded" src="../assets/images/new-outil-de-jardinage.jpg" alt="image d'une pelle du jardinage "  data-cerberus="IMG_produitsADecouvrir">
                         <div class="container-desc ">
                             <p class="desc ellipsis overlay">
                                        <span class="name">
                                           <h6> Jardinage </h6>
                                        </span>
                             </p>
                         </div>
                     </figure>

                 </a>
                 </li>
                 <li class="element">
                     <a href="/theme/show/2">
                         <figure class=" figure-blc ">
                             <img class="visuel zoom lazy loaded" src="../assets/images/kitchen.jpg" alt="image cuisine moderne "  data-cerberus="IMG_produitsADecouvrir">

                             <div class="container-desc ">
                                 <p class="desc ellipsis">
                                        <span class="name">
                                          <h6> Cuisine </h6>
                                        </span>
                                 </p>
                             </div>
                         </figure>

                     </a>
                 </li>
                 <a href="/theme/show/4">
                     <figure class=" figure-blc ">
                         <img class="visuel zoom lazy loaded" src="../assets/images/cleaning_products.jpg" alt="image des produits des ménages "  data-cerberus="IMG_produitsADecouvrir">
                         <div class="container-desc ">
                             <p class="desc ellipsis">
                                        <span class="name">
                                           <h6> Ménage </h6>
                                        </span>
                             </p>
                         </div>
                     </figure>

                 </a>
                 </li>
             </ul>
         </article>
     </section>
     <div class="card text-center">
         <div class="card-body">
            <a href="/question/add" class="btn btn-success">Je veux poser une question !!!</a>
        </div>
     </div>
 {% endblock %}