{% extends 'layout.html.twig' %}


{% block title %}Accueil{% endblock %}

{% block linkheader %}<a class="nav-link" href="home/contact">Contactez-nous</a>{% endblock %}

{% block linkfooter %}<p><a href="home/contact" title="contact">Contactez-nous</a></p>{% endblock %}