<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
        <title>ShareMyBrain - Accueil</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="icon" href="/assets/images/favicon.png">  
    </head>

    <body>                                                 
        <header>
           <!--<div id="navbar">-->

            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-success scrolling-navbar">
                <a class="navbar-brand text-white" href="/">ShareMyBrain</a>
                <button class="navbar-toggler align-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <img class="logoSharemyBrain" src="/assets/images/logosharemybrain.png" alt="logo sharemybrain">
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mx-auto topnav">

                        <li class="nav-item active text-center">
                            <a class="nav-link text-white" href="/">Accueil<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item text-center" >
                            <a class="nav-link text-white" href="/theme/index">Liste complète des thèmes</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link text-white" href="/home/contact">Nous contacter</a>
                    </ul>
                    <ul class="navbar-nav topnav">
                        <li class="nav-item">
                            <a class="nav-link btn  text-white bg-secondary" href="#" data-toggle="modal" data-target="#myModal" id="btn-co">Se connecter</a>                  
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn  text-white bg-dark" href="#" data-toggle="modal" data-target="#myModal" id="btn-co">Créer un compte</a>

                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}


                                                                <!-- FOOTER -->     
        <footer id="footer" class="footer-1 page-footer">
            <div class="main-footer widgets-dark typo-light">
            <div class="container">
            <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget subscribe no-box">
                                <h5 class="widget-title">ShareMyBrain<span></span></h5>
                                <p>Échanger ses connaissances dans différents domaines, se coucher moins bête, trouver des solutions concrètes , et tout cela grâce à vous. </p>
                            </div>
                        </div>
​
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                            <h5 class="widget-title">Trouvez votre réponse parmi nos thèmes...<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="#.">Jardinage</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">Cuisine</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">Bricolage</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">Ménage</a></div>	
                            </li>
                        </ul>
                    </div>
                </div>
​
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Inscrivez-vous<span></span></h5>
                        <p>Trouver des réponses à vos questions, et aidez les autres.</p>
                    </div>
                </div>
​
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Nous contacter<span></span></h5>
                        <p><a class="nav-link text-blue" href="/home/contact">Contactez-nous</a></p>
                    </div>
                </div>
​
            </div>
            </div>
            </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>