
/* local font included in here with it own pram */
@font-face
{
	font-family:'rokkittregular';
	font-style:normal;
	font-weight:400;
	src:url(../fonts/rokkitt-variablefont_wght-webfont.woff2) format(woff2), url(../fonts/rokkitt-variablefont_wght-webfont.woff) format(woff);
}

/*  general setting  */
html
{
	font-family:'rokkittregular' sans-serif;
	font-style:normal;
	font-weight:400;
}

body
{
	font-family:'rokkittregular' sans-serif;
	font-style:normal;
	font-weight:400;
}
img
{
	border-radius:30px 30px 0 0;
}
p
{
	font-family:'rokkittregular' sans-serif;
	font-style:normal;
	font-weight:400;
}

a
{
	font-family:'rokkittregular' sans-serif;
	font-style:normal;
	font-weight:400;
}

h1,h2,h3,h4,h5
{
	color:#000;
	font-family:'rokkittregular' sans-serif;
	font-style:normal;
	
}

label
{
	font-weight:700;
}

select
{
	background-color:#69a0bf54;
	word-wrap:normal;
}

.topnav a:hover
{
	border-bottom:10px #F17F42;
}

/*==== LogoNavbar ===== */				
#btnconnect
{
	padding-right:10px;
}

.logoSharemyBrain
{
	height:50px;
	width:50px;
}

.topnav a:hover
{
	border-bottom:10px #F17F42;
}

@media screen and (max-width: 991px)
{
	#btn-co
	{
		width:18%;
	}

	#btnconnect
	{
		padding-bottom:10px;
		padding-left:10px;
	}

	#navbrand
	{
		display:flex;
		margin-right:3rem;
	}

	.logoSharemyBrain
	{
		display:none;
	}

	.nav-item
	{
		display:flex;
		justify-content:center;
		width:100%;
	}
}
/*=== Slogan Header ==== */

/* the parent bloc of header */
.para-slogan-ctn
{
	background:rgba(196,196,196,0.41);
}

/* a bloc to place in center the page slogan of the web site */
.slogan
{
	/* Box model declarations */
	display:flex;
	flex-direction:row;
	height:428px;
	justify-content:center;
	padding-bottom:5%;
	padding-top:5%;
	width:100%;
}

/* the title of the page and the diff setting for more persinalisation */
.slogantitle
{
	align-items:center;
	color:#000;
	display:flex;
	font-family:'rokkittregular', serif;
	font-size:64px;
	font-style:normal;
	font-weight:400;
	height:100%;
	left:calc(50%-1602px/2+0.5px);
	line-height:73px;
	text-align:center;
	text-shadow:0 4px 4px rgba(0,0,0,0.25);
	text-transform:uppercase;
	top:calc(50%-427px/2-884.5px);
	width:100%;
}

/* animation partie for header in the top of the page */ 
.tracking-in-contract{-webkit-animation:tracking-in-contract .8s cubic-bezier(.47,0.000,.745,.715) both;animation:tracking-in-contract .8s cubic-bezier(.47,0.000,.745,.715) both}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
 @-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}

/* they are the setting for the img and humain vector near the slogan content */
.question-mark
{
	margin-top:30%;
}

.vectors
{
	border-style:none;
	margin-top:20%;
	vertical-align:middle;
	width:80%;
}

/* ===== THEMES ====== */
		
/* Positioning declarations  and the globale bloc for the theme section  */
.glo-theme
{
	display:grid;
	grid-template-rows:1fr 70% 1fr;
}

.container-desc
{
	align-items:center;
	background-color:rgba(65,255,31,0.2);
	display:flex;
	justify-content:center;
	padding-top:5%;
	transition:all ease 200ms;
	width:100%;
}

/* the general setting for title of the each element in list */
.desc .name
{
	display:block;
	max-height:3.8rem;
	overflow:hidden;
}

.desc.ellipsis
{
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	display:0;
	overflow:hidden;
	text-overflow:ellipsis;
}

.element-ul
{
	display:flex;
	justify-content:space-around;
	list-style:none;
}


.list-elements .element
{
	max-height:300px;
	overflow:hidden;
	position:relative;
}

/* the setting fot the main title of the section */
.themetitle
{
	align-items:center;
	color:#000;
	display:flex;
	font-family:'rokkittregular', serif;
	font-size:35px;
	font-style:normal;
	font-weight:400;
	height:100%;
	justify-content:center;
	left:calc(50%-1602px/2+0.5px);
	line-height:73px;
	text-align:center;
	text-shadow:0 4px 4px rgba(0,0,0,0.25);
	text-transform:uppercase;
	top:calc(50%-427px/2-884.5px);
	width:100%;
}

.themetitle-ctn
{
	padding-bottom:2%;
	padding-top:2%;
}

/* the private setting for image in the list */
.visuel
{
	border-radius:50px 50px 0 0;
	height:320px;
	width:320px;
}

.visuel:hover
{
	opacity:50%;
}

/*=== QUESTION FORM ==== */
.bottom-vector-ctn
{
	display:flex;
	flex-direction:column;
	padding-top:2%;
}

.botton
{
	background:#40C0E7;
	border-radius:19px;
	width:100%;
}

/* the form general settig */
.form-inline
{
	display:grid;
	grid-template-columns:1fr 1fr 1.5fr 2fr 1fr;
	margin-top:30%;
}
 
.input-sizer
{
	background:rgba(137,197,204,0.8);
	border-radius:22px;
}

.question-form-ctn
{
	background:rgba(196,196,196,0.4);
	height:601px;
	left:0;
	top:1475px;
	width:1600px;
}

.seconde-questionaire-ctn
{
	display:grid;
	grid-template-columns:20% 80%;
}

.separator-input
{
	margin-left:2%;
	margin-right:2%;
}

/*==== Footer ===== */

/* Main Footer */
footer
{
	padding-bottom:0;
}

footer .main-footer
{
	background:#252525;
	padding:20px 0;
}

footer ul
{
	list-style:none;
	padding-left:0;
}

/*==== Widgets / Footer ====== */
.btn
{
	background-color:#ff8d1e;
	color:#fff;
}

.btn.active
{
	background:#4b92dc;
	color:#fff;
}

.btn:focus
{
	background:#4b92dc;
	color:#fff;
}

.btn:hover
{
	background:#4b92dc;
	color:#fff;
}

.typo-light div
{
	color:#fff;
}

.typo-light h5
{
	color:#fff;
}

.typo-light h6
{
	color:#fff;
}

.typo-light p
{
	color:#fff;
}

.typo-light small
{
	color:#fff;
}

.typo-light span
{
	color:#fff;
}

.widget
{
	margin-bottom:40px;
	padding:20px;
}

.widget .badge
{
	background:#7f7f7f;
	float:right;
}

.widget li a
{
	color:#ff8d1e;
}

.widget li a:hover
{
	color:#4b92dc;
}

.widget-title
{
	margin-bottom:20px;
}

.widget-title span
{
	background:#839FAD none repeat scroll 0 0;
	display:block;
	height:1px;
	margin-top:25px;
	position:relative;
	width:20%;
}

.widget-title span::after
{
	background:inherit;
	content:"";
	height:inherit;
	position:absolute;
	top:-4px;
	width:50%;
}

.widget-title.text-center span
{
	left:0;
	margin-left:auto;
	margin-right:auto;
	right:0;
}

.widget-title.text-center span::after
{
	left:0;
	margin-left:auto;
	margin-right:auto;
	right:0;
}

.widget.no-box
{
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
	background-color:transparent;
	box-shadow:none;
	margin-bottom:40px;
	padding:0;
}

.widget.subscribe p
{
	margin-bottom:18px;
}

.widget.widget-last
{
	margin-bottom:0;
}