{% extends 'layout.html.twig' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <h4>Poser une question</h4>
    <br>
    <br>
    {% include 'Question/_form.html.twig' %}
    <br>
    <br>
    <a href="/theme/index">Liste des questions par thème</a>
{% endblock %}
