{% extends 'layout.html.twig' %}

{% block content %}
    <div class="show">
        <h1>Choisir un thème</h1>
            <ul>
                {% for theme in themes %}
                    <li><a href="/theme/show/{{ theme.id }}">{{ theme.name }}</a></li>
                {% else %}
                    <li>Nothing to display</li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}

