{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Choisir un thème</h1>
    <ul>
        {% for theme in themes %}
            <li>{{ theme.id }}.{{ theme.name }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}

